@model IEnumerable<Admin_NSPM.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";

}
<link href="~/AdminTemplate/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<h2>Danh sách tài khoản</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin tài khoản</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered display" id="example" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên khách</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaTaiKhoan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNguoiNhan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @*@Html.ActionLink("Sửa", "Edit", new { id = item.MaTaiKhoan }) |*@
                                @*@Html.ActionLink("Details", "Details", new { id = item.MaTaiKhoan }) |*@
                                <button type="button" class="btn btn-link" data-toggle="modal"  data-target="#delete_@item.MaTaiKhoan">Xóa</button>
                                @*@Html.ActionLink("Xóa", "Delete", new { id = item.MaTaiKhoan })*@
                                <div class="modal fade" id="delete_@item.MaTaiKhoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header d-flex justify-content-center">
                                                <h5 class="modal-title " id="exampleModalLabel">Xác nhận xóa dữ liệu </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @{  
                                                var itemModal = Model.Where(p => p.MaTaiKhoan == item.MaTaiKhoan).SingleOrDefault();
                                                Html.RenderPartial("DeleteModal", itemModal);

                                             }
                                            
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/AdminTemplate/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTemplate/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminTemplate/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/table.js"></script>
    <script>
        function click() {
            console.log(itemModal);
        }
        
    </script>
}
